<!--

     ____    __      __  ______           ____
    /\  _`\ /\ \  __/\ \/\  _  \  /'\_/`\/\  _`\
    \ \,\L\_\ \ \/\ \ \ \ \ \L\ \/\      \ \ \L\ \
     \/_\__ \\ \ \ \ \ \ \ \  __ \ \ \__\ \ \ ,__/
       /\ \L\ \ \ \_/ \_\ \ \ \/\ \ \ \_/\ \ \ \/
       \ `\____\ `\___x___/\ \_\ \_\ \_\\ \_\ \_\
        \/_____/'\/__//__/  \/_/\/_/\/_/ \/_/\/_/

    Swamp is a tool for running, managing and monitoring processes. jump in!

    By Udi Talias (udi.talias@gmail.com)

    https://github.com/uditalias

    ---

    For forking, contributing, issues > https://github.com/uditalias/swamp

--><!doctype html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title></title><meta name="description" content=""><meta name="viewport" content="width=device-width"><link rel="icon" type="image/png" href="/assets/images/favicon.png?rev=2"><link rel="stylesheet" href="/styles/168e1d06.stream.main.css"></head><body><header><div class="flex flex-align-center"><div class="padding-2 swamp-io-logo text-24 color-white">Swamp <span class="color-blue">I/O</span></div><div class="flex flex-1 margin-left-1"><div class="service-name margin-left-2 color-white text-20"><%= serviceName %></div><div class="margin-left-1 color-white text-20"><%= ioType %></div><div class="selected-file text-20 margin-left-1 color-warm-grey">(<span></span>)</div></div><div class="margin-2 cursor-pointer color-warm-grey theme-switch">Lights: <span></span></div><div class="margin-2 cursor-pointer side-menu-toggle"><i class="fa fa-list color-white text-20"></i></div></div></header><aside><div class="aside-title text-24 padding-2 color-white">History</div><div class="padding-2 aside-content"><ul></ul></div></aside><div class="io-container padding-2"><div class="shadow"></div><pre></pre></div><script src="/scripts/c6fa6229.stream.vendor.js"></script><script src="/scripts/97a1c6b4.stream.scripts.js"></script><script>//<![CDATA[
            var socketConnectionString = location.origin + '/';
            var swampVersion = "<%= swampVersion %>";
            var serviceName = "<%= serviceName %>";
            var ioType = "<%= ioType %>";
            var serviceId = "<%= serviceId %>";
            window.document.title = "Swamp (v<%= swampVersion %>) | IO Stream";
            //]]></script></body></html>